/* Import Font Family - Raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
ul {
  padding-inline-start: 0;
}

/* Variables */
:root {
  --main-color: #0065fc;
  --second-color: #deebff;
  --bcg-color: #f2f2f2;
}
/* Body */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
.wrapper {
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 50px;
}
/* -------------- */
/* --- HEADER --- */
/* -------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600;
}
.header-logo {
  margin-left: 20px;
  height: 50px;
}
.header-nav {
  display: flex;
}
.nav {
  padding: 2rem 2rem;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.nav:hover {
  color: var(--main-color);
  border-top-color: var(--main-color);
}
@media screen and (max-width: 768px) {
  .body {
    min-width: 100vw;
  }
  .wrapper {
    width: 100%;
  }
  .header {
    flex-direction: column;
    align-items: center;
    min-width: 100%;
  }
  .header-nav {
    display: flex;
    width: 100%;
  }
  .nav {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid var(--bcg-color);
  }
  .nav:hover {
    border-top-color: transparent;
    border-bottom-color: var(--main-color);
  }
}
/* -------------- */
/* ---- MAIN ---- */
/* -------------- */
.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
/* Main Header */
.mainHeader {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.mainHeader-title {
  font-size: 22px;
}
/* SearchBar */
.searchBar {
  display: flex;
  align-items: center;
}
.locationIcon {
  padding: 30px 20px;
  background-color: var(--bcg-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.searchBar .searchIcon {
  display: none;
}
#siteSearch {
  border: 1px solid var(--bcg-color);
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-overflow: ellipsis;
}
.searchButton {
  padding: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--main-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .mainHeader {
    padding: 20px;
  }
  .searchButton {
    border-radius: 20px;
    margin-left: -20px;
  }
  .searchBar .searchIcon {
    display: block;
  }
  .searchBar .searchText {
    display: none;
  }
  #siteSearch {
    min-width: 30%;
  }
}
/* Main Footer */
.mainFooter {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.mainFooter-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 15px;
  row-gap: 5px;
}
.mainFooter-title {
  font-size: 16px;
}
.filters-wrap {
  display: flex;
  flex-wrap: wrap;
}
.filters {
  display: flex;
  align-items: center;
  border: 2px solid var(--bcg-color);
  border-radius: 50px;
  column-gap: 15px;
}
.filters:hover {
  cursor: pointer;
  background-color: var(--bcg-color);
  color: var(--main-color);
}
.filterIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--second-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.filters-text {
  font-weight: 600;
  padding-right: 15px;
}
.info {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.fa-info {
  min-width: 30px;
  min-height: 30px;
  color: var(--main-color);
  border-radius: 50%;
  border: 2px solid var(--bcg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Results */

.searchResults {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.hostingResults {
  padding: 20px;
  flex-basis: 66%;
  background-color: var(--bcg-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.hostingResults-containerCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.hostingResults-card {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 5px 5px 15px 5px #adadad;
  -webkit-box-shadow: 5px 5px 15px 5px #adadad;
  border-radius: 20px;
  padding: 15px;
}
.hostingResults-card:hover {
  box-shadow: 5px 5px 15px 5px var(--second-color);
  -webkit-box-shadow: 5px 5px 15px 5px var(--second-color);
  color: var(--main-color);
  cursor: pointer;
}
.card-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.card-img img {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 20px 20px 0 0;
}
.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.card-content p,
h4 {
  margin: 5px;
  padding-left: 5px;
}
.hostingResults-card-note {
  padding-left: 10px;
  color: var(--main-color);
}
.no-note {
  color: var(--bcg-color);
}
.hostingResults-more {
  font-weight: 600;
}
.hostingResults-more:hover {
  color: var(--main-color);
}

.popularResults {
  padding: 20px;
  flex-basis: 33%;
  background-color: var(--bcg-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.popularResults-title {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .hostingResults-card {
    width: 45%;
  }
}
@media screen and (max-width: 968px) {
  .searchResults {
    flex-direction: column-reverse;
  }
  .hostingResults-card {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .hostingResults-containerCard {
    justify-content: center;
  }
  .hostingResults-card {
    width: 90%;
  }
}
/* Activity */
.activityResults {
  background-color: var(--bcg-color);
  border-radius: 20px;
  padding: 20px;
}

/* -------------- */
/* --- FOOTER --- */
/* -------------- */
.footer {
  display: flex;
  column-gap: 10%;
  padding-left: 10%;
  background-color: var(--bcg-color);
  line-height: 1.5em;
  margin-top: 20px;
}
.footer-section {
  display: flex;
  flex-direction: column;
}
.footer-title {
  margin-bottom: 0;
}
.footer a:hover {
  color: var(--main-color);
}
.footer li {
  padding-left: 10px;
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
